@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');

.login {
    width: 50vw;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
}

.blank {

}

.account {

}

.password {

}

.eyes {
    color: rgb(111, 111, 111);
}

.btn {

}

.submit {

}

.reset {
    
}
